# LLM Case Study 2 - Rag pipeline

### Shusrith S PES1UG22AM155
### Smera Arun Setty PES1UG22AM922

This file was used to process and clean all the tables manually and it was done separately because it took up a lot of space and time.

# Installing libraries

In [ ]:
!pip install faiss-gpu-cu12 camelot-py pypdf2

Requirement already satisfied: faiss-gpu-cu12 in /usr/local/lib/python3.11/dist-packages (1.10.0)
Requirement already satisfied: camelot-py in /usr/local/lib/python3.11/dist-packages (1.0.0)
Requirement already satisfied: pypdf2 in /usr/local/lib/python3.11/dist-packages (3.0.1)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.11/dist-packages (from faiss-gpu-cu12) (1.26.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from faiss-gpu-cu12) (24.2)
Requirement already satisfied: nvidia-cuda-runtime-cu12>=12.1.105 in /usr/local/lib/python3.11/dist-packages (from faiss-gpu-cu12) (12.5.82)
Requirement already satisfied: nvidia-cublas-cu12>=12.1.3.1 in /usr/local/lib/python3.11/dist-packages (from faiss-gpu-cu12) (12.5.3.2)
Requirement already satisfied: click>=8.0.1 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (8.1.8)
Requirement already satisfied: chardet>=5.1.0 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (5.2.0)
Requirement already satisfied: openpyxl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (3.1.5)
Requirement already satisfied: pdfminer-six>=20240706 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (20240706)
Requirement already satisfied: pypdf<4.0,>=3.17 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (3.17.4)
Requirement already satisfied: pandas>=2.2.2 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (2.2.2)
Requirement already satisfied: tabulate>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (0.9.0)
Requirement already satisfied: opencv-python-headless>=4.7.0.68 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (4.11.0.86)
Requirement already satisfied: pypdfium2>=4 in /usr/local/lib/python3.11/dist-packages (from camelot-py) (4.30.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl>=3.1.0->camelot-py) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.2->camelot-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.2->camelot-py) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.2->camelot-py) (2025.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from pdfminer-six>=20240706->camelot-py) (3.4.1)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.11/dist-packages (from pdfminer-six>=20240706->camelot-py) (43.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.11/dist-packages (from cryptography>=36.0.0->pdfminer-six>=20240706->camelot-py) (1.17.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.2.2->camelot-py) (1.17.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer-six>=20240706->camelot-py) (2.22)

In [ ]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.10.0-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.11/dist-packages (from tabula-py) (2.2.3)
Requirement already satisfied: numpy>1.24.4 in /usr/local/lib/python3.11/dist-packages (from tabula-py) (2.2.3)
Requirement already satisfied: distro in /usr/local/lib/python3.11/dist-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.3->tabula-py) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.17.0)
Downloading tabula_py-2.10.0-py3-none-any.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 110.6 MB/s eta 0:00:00
Installing collected packages: tabula-py
Successfully installed tabula-py-2.10.0

# Download the dataset

In [ ]:
import kagglehub

path = kagglehub.dataset_download("shusrith/rag-dataset")

print("Path to dataset files:", path)

Path to dataset files: /root/.cache/kagglehub/datasets/shusrith/rag-dataset/versions/1

# Read all tables

In [ ]:
from tabula import read_pdf

tables = read_pdf(f"{path}/combined_document_10.pdf", pages="all")

for i, table in enumerate(tables):
    print(f"\nTable {i+1}:")
    print(table)

WARNING:tabula.backend:Got stderr: Mar 11, 2025 7:09:58 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:00 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:03 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Mar 11, 2025 7:10:04 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

Table 1:
            Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  \
0  Year Ended June 30,         NaN        NaN       2016         NaN
1        First quarter        89.0          $      4,000        43.0
2       Second quarter        66.0        NaN      3,600        43.0
3        Third quarter        69.0        NaN      3,600       116.0
4       Fourth quarter        70.0        NaN      3,600        93.0

  Unnamed: 5 Unnamed: 6   Unnamed: 7
0        NaN       2015      2014 (a
1          $      2,000  47  $ 1,500
2        NaN      2,000    53  2,000
3        NaN      5,000    47  1,791
4        NaN      4,209    28  1,118

Table 2:
                                           Unnamed: 0 Unnamed: 1  \
0                                                 NaN        NaN
1                                  September 15, 2015    $  0.36
2                                    December 2, 2015    $  0.36
3                                      March 15, 2016    $  0.36
4                                       June 14, 2016    $  0.36
5                                                 NaN        NaN
6   The dividend declared on June 14, 2016 will be...        NaN
7                    liabilities as of June 30, 2016.        NaN
8   In fiscal year 2015, our Board of Directors de...        NaN
9                                                 NaN        NaN
10                                                NaN   Dividend
11                                   Declaration Date  Per Share
12                                                NaN        NaN
13                                                NaN        NaN
14                                 September 16, 2014    $  0.31
15                                   December 3, 2014    $  0.31
16                                     March 10, 2015    $  0.31
17                                       June 9, 2015    $  0.31

           Unnamed: 2                    Unnamed: 3
0                 NaN                 (In millions)
1   November 19, 2015   $  2,868 December 10,  2015
2   February 18, 2016       $  2,842 March 10, 2016
3        May 19, 2016         $  2,821 June 9, 2016
4     August 18, 2016    $  2,811 September 8, 2016
5                 NaN                           NaN
6                 NaN                           NaN
7                 NaN                           NaN
8                 NaN                           NaN
9                 NaN                           NaN
10                NaN                           NaN
11        Record Date     Total Amount Payment Date
12                NaN                           NaN
13                NaN                 (In millions)
14  November 20, 2014    $  2,547 December 11, 2014
15  February 19, 2015      $  2,532  March 12, 2015
16       May 21, 2015       $  2,496  June 11, 2015
17    August 20, 2015  $  2,475  September 10, 2015

Table 3:
                                            Net sales    $    265,595  $.1  \
0                                          Net income    $     59,531    $
1                                 Earnings per share:  NaN        NaN  NaN
2                                               Basic    $      12.01    $
3                                             Diluted    $      11.91    $
4                   Cash dividends declared per share    $       2.72    $
5        Shares used in computing earnings per share:  NaN        NaN  NaN
6                                               Basic  NaN  4,955,377  NaN
7                                             Diluted  NaN  5,000,109  NaN
8   Total cash, cash equivalents and marketable se...    $    237,100    $
9                                        Total assets    $    365,725    $
10                   Non-current portion of term debt    $     93,735    $
11                      Other non-current liabilities    $     45,180    $

      229,234  $.2    215,639  $.3    233,715  $.4    182,795
0      48,351    $     45,687    $     53,394    $     39,510
1         NaN  NaN        NaN  NaN        NaN  NaN        NaN
2        9.27    $       8.35    $       9.28    $       6.49
3        9.21    $       8.31    $       9.22    $       6.45
4        2.40    $       2.18    $       1.98    $       1.82
5         NaN  NaN        NaN  NaN        NaN  NaN        NaN
6   5,217,242  NaN  5,470,820  NaN  5,753,421  NaN  6,085,572
7   5,251,692  NaN  5,500,281  NaN  5,793,069  NaN  6,122,663
8     268,895    $    237,585    $    205,666    $    155,239
9     375,319    $    321,686    $    290,345    $    231,839
10     97,207    $     75,427    $     53,329    $     28,987
11     40,415    $     36,074    $     33,427    $     24,826

Table 4:
   ales by Reportable Segment: Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     Americas          $    112,093       16 %          $
1                       Europe        NaN     62,420       14 %        NaN
2                Greater China        NaN     51,942       16 %        NaN
3                        Japan        NaN     21,733       23 %        NaN
4         Rest of Asia Pacific        NaN     17,407       15 %        NaN
5              Total net sales          $    265,595       16 %          $
6             ales by Product:        NaN        NaN        NaN        NaN
7                   iPhone (1)          $    166,699       18 %          $
8                     iPad (1)        NaN     18,805       (2)%        NaN
9                      Mac (1)        NaN     25,484       (1)%        NaN
10                Services (2)        NaN     37,190       24 %        NaN
11       Other Products (1)(3)        NaN     17,417       35 %        NaN
12             Total net sales          $    265,595       16 %          $
13           Sales by Product:        NaN        NaN        NaN        NaN
14                      iPhone        NaN    217,722        — %        NaN
15                        iPad        NaN     43,535        — %        NaN
16                         Mac        NaN     18,209       (5)%        NaN

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
0      96,600       12 %          $     86,613
1      54,938       10 %        NaN     49,952
2      44,764       (8)%        NaN     48,492
3      17,733        5 %        NaN     16,928
4      15,199       11 %        NaN     13,654
5     229,234        6 %          $    215,639
6         NaN        NaN        NaN        NaN
7     141,319        3 %          $    136,700
8      19,222       (7)%        NaN     20,628
9      25,850       13 %        NaN     22,831
10     29,980       23 %        NaN     24,348
11     12,863       16 %        NaN     11,132
12    229,234        6 %          $    215,639
13        NaN        NaN        NaN        NaN
14    216,756        2 %        NaN    211,884
15     43,753       (4)%        NaN     45,590
16     19,251        4 %        NaN     18,484

Table 5:
                                      Unnamed: 0 Unnamed: 1 Unnamed: 2  \
0                            Year Ended June 30,        NaN       2018
1                  Dividends and interest income          $      2,214
2                               Interest expense        NaN    (2,733)
3            Net recognized gains on investments        NaN      2,399
4                      Net losses on derivatives        NaN      (187)
5  Net losses on foreign currency remeasurements        NaN      (218)
6                                     Other, net        NaN       (59)
7                                            NaN        NaN        NaN
8                                          Total          $      1,416

  Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
0        NaN       2017        NaN       2016
1          $      1,387          $        903
2        NaN    (2,222)        NaN    (1,243)
3        NaN      2,583        NaN        668
4        NaN      (510)        NaN      (443)
5        NaN      (111)        NaN      (129)
6        NaN      (251)        NaN      (195)
7        NaN        NaN        NaN        NaN
8          $        876          $      (439)

Table 6:
                    Unnamed: 0 $  20,453 Unnamed: 1 $  22,090  $  23,317  \
0                 Gross margin    12,609     14,189    14,030     14,861
1             Operating income     5,225      6,177     5,594      5,330
2                   Net income     4,690      5,200     4,801  6,513 (c)
3     Basic earnings per share      0.60       0.67      0.62       0.84
4   Diluted earnings per share      0.60       0.66      0.61   0.83 (c)
5                          NaN       NaN        NaN       NaN        NaN
6             Fiscal Year 2016       NaN        NaN       NaN        NaN
7                  Revenue (d)  $ 20,379   $ 23,796  $ 20,531   $ 20,614
8                 Gross margin    13,172     13,924    12,809     12,635
9             Operating income     5,793      6,026     5,283      3,080
10                  Net income     4,902      5,018     3,756  3,122 (e)
11    Basic earnings per share      0.61       0.63      0.48       0.40
12  Diluted earnings per share      0.61       0.62      0.47   0.39 (e)

     $  89,950
0       55,689
1       22,326
2   21,204 (c)
3         2.74
4     2.71 (c)
5          NaN
6          NaN
7     $ 85,320
8       52,540
9       20,182
10  16,798 (e)
11        2.12
12    2.10 (e)

# Clean tables

The tables loaded with a lot of NaNs, `$` signs loaded as individual columns, wrong column names, and several tables consisting of subtables for particular years. All of this was cleaned individually.

In [ ]:
tables[0].drop(columns=["Unnamed: 2", "Unnamed: 5"], inplace=True)

Unnecesary columns were dropped, columns renamed and combined columns separated.

In [ ]:
tables[0].drop(0, inplace=True)
tables[0].columns = ["Quarter", "Shares2016", "Amount2016", "Shares2015", "Amount2015", "X"]
tables[0]["Shares2014"] = tables[0]["X"].str.split().str[0]
tables[0]["Amount2014"] = tables[0]["X"].str.split().str[1]
tables[0].drop(columns=["X"], inplace=True)
tables[0].iloc[0, 6] = 1500
tables[0]

,Quarter,Shares2016,Amount2016,Shares2015,Amount2015,Shares2014,Amount2014
1,First quarter,89.0,"4,000",43.0,"2,000",47,1500
2,Second quarter,66.0,"3,600",43.0,"2,000",53,"2,000"
3,Third quarter,69.0,"3,600",116.0,"5,000",47,"1,791"
4,Fourth quarter,70.0,"3,600",93.0,"4,209",28,"1,118"

A table containing 2015 and 2016 together was separated and added at the end

In [ ]:
tables.append(tables[1].iloc[:4])
tables.append(tables[1].iloc[-4:, :])
del tables[1]

In [ ]:
tables[2]

,Net sales,"265,595","229,234","215,639","233,715","182,795"
0,Net income,"59,531","48,351","45,687","53,394","39,510"
1,Earnings per share:,NaN,NaN,NaN,NaN,NaN
2,Basic,12.01,9.27,8.35,9.28,6.49
3,Diluted,11.91,9.21,8.31,9.22,6.45
4,Cash dividends declared per share,2.72,2.40,2.18,1.98,1.82
5,Shares used in computing earnings per share:,NaN,NaN,NaN,NaN,NaN
6,Basic,"4,955,377","5,217,242","5,470,820","5,753,421","6,085,572"
7,Diluted,"5,000,109","5,251,692","5,500,281","5,793,069","6,122,663"
8,"Total cash, cash equivalents and marketable se...","237,100","268,895","237,585","205,666","155,239"
9,Total assets,"365,725","375,319","321,686","290,345","231,839"
10,Non-current portion of term debt,"93,735","97,207","75,427","53,329","28,987"
11,Other non-current liabilities,"45,180","40,415","36,074","33,427","24,826"

Column names fixed, first row appended

In [ ]:
import pandas as pd
df = pd.DataFrame([["Net sales", "265,595", "229,234", "215,639", "233,715", "182,795"]],
                  columns=["", "2018", "2017", "2016", "2015", "2014"])
tables[2].columns = ["", "2018", "2017", "2016", "2015", "2014"]
tables[2] = pd.concat([df, tables[2]], ignore_index=True)
tables[2]

,,2018,2017,2016,2015,2014
0,Net sales,"265,595","229,234","215,639","233,715","182,795"
1,Net income,"59,531","48,351","45,687","53,394","39,510"
2,Earnings per share:,NaN,NaN,NaN,NaN,NaN
3,Basic,12.01,9.27,8.35,9.28,6.49
4,Diluted,11.91,9.21,8.31,9.22,6.45
5,Cash dividends declared per share,2.72,2.40,2.18,1.98,1.82
6,Shares used in computing earnings per share:,NaN,NaN,NaN,NaN,NaN
7,Basic,"4,955,377","5,217,242","5,470,820","5,753,421","6,085,572"
8,Diluted,"5,000,109","5,251,692","5,500,281","5,793,069","6,122,663"
9,"Total cash, cash equivalents and marketable se...","237,100","268,895","237,585","205,666","155,239"
10,Total assets,"365,725","375,319","321,686","290,345","231,839"
11,Non-current portion of term debt,"93,735","97,207","75,427","53,329","28,987"
12,Other non-current liabilities,"45,180","40,415","36,074","33,427","24,826"

In [ ]:
df = tables[2].copy()

Subtables were split and added to the end of the tables list

In [ ]:
section_starts = df[df.iloc[:, 1:].isna().all(axis=1)].index.tolist()

# Add start & end points for splitting
section_starts.append(len(df))  # End of table

# Splitting DataFrame
dfs = []
for i in range(len(section_starts) - 1):
    start = section_starts[i] + 1
    end = section_starts[i + 1]
    dfs.append(df.iloc[start:end].reset_index(drop=True))

dfs
tables.extend(dfs)

[                                       2018  2017  2016  2015  2014
 0                              Basic  12.01  9.27  8.35  9.28  6.49
 1                            Diluted  11.91  9.21  8.31  9.22  6.45
 2  Cash dividends declared per share   2.72  2.40  2.18  1.98  1.82,
                                                            2018       2017  \
 0                                              Basic  4,955,377  5,217,242
 1                                            Diluted  5,000,109  5,251,692
 2  Total cash, cash equivalents and marketable se...    237,100    268,895
 3                                       Total assets    365,725    375,319
 4                   Non-current portion of term debt     93,735     97,207
 5                      Other non-current liabilities     45,180     40,415

         2016       2015       2014
 0  5,470,820  5,753,421  6,085,572
 1  5,500,281  5,793,069  6,122,663
 2    237,585    205,666    155,239
 3    321,686    290,345    231,839
 4     75,427     53,329     28,987
 5     36,074     33,427     24,826  ]

Unnecesary columns are dropped, columns are renamed, sub-tables are separated and added to the tables lsit.

In [ ]:
tables[3].drop(columns=["Unnamed: 0", "Unnamed: 3", "Unnamed: 6"], inplace=True)
tables[3].columns = ["Region", "2018", "Change2018", "2017", "Change2017", "2016"]
df = tables[3].copy()
section_starts = df[df.iloc[:, 1:].isna().all(axis=1)].index.tolist()
section_starts = [0, 6, 13]
# Add start & end points for splitting
section_starts.append(len(df))  # End of table

# Splitting DataFrame
dfs = []
for i in range(len(section_starts) - 1):
    start = section_starts[i] + 1
    end = section_starts[i + 1]
    dfs.append(df.iloc[start:end].reset_index(drop=True))

dfs
tables.extend(dfs)

[                 Region     2018 Change2018     2017 Change2017     2016
 0                Europe   62,420       14 %   54,938       10 %   49,952
 1         Greater China   51,942       16 %   44,764       (8)%   48,492
 2                 Japan   21,733       23 %   17,733        5 %   16,928
 3  Rest of Asia Pacific   17,407       15 %   15,199       11 %   13,654
 4       Total net sales  265,595       16 %  229,234        6 %  215,639,
                   Region     2018 Change2018     2017 Change2017     2016
 0             iPhone (1)  166,699       18 %  141,319        3 %  136,700
 1               iPad (1)   18,805       (2)%   19,222       (7)%   20,628
 2                Mac (1)   25,484       (1)%   25,850       13 %   22,831
 3           Services (2)   37,190       24 %   29,980       23 %   24,348
 4  Other Products (1)(3)   17,417       35 %   12,863       16 %   11,132
 5        Total net sales  265,595       16 %  229,234        6 %  215,639,
    Region     2018 Change2018     2017 Change2017     2016
 0  iPhone  217,722        — %  216,756        2 %  211,884
 1    iPad   43,535        — %   43,753       (4)%   45,590
 2     Mac   18,209       (5)%   19,251        4 %   18,484]

Unnecesary columns are dropped, columns are renamed and NaN rows are removed.

In [ ]:
tables[4].drop(columns=["Unnamed: 1", "Unnamed: 3", "Unnamed: 5"], inplace=True)
tables[4].columns = ["", "2018", "2017", "2016"]
tables[4].drop([0, 7], inplace=True)
tables[4]

                                                     2018     2017     2016
1                  Dividends and interest income    2,214    1,387      903
2                               Interest expense  (2,733)  (2,222)  (1,243)
3            Net recognized gains on investments    2,399    2,583      668
4                      Net losses on derivatives    (187)    (510)    (443)
5  Net losses on foreign currency remeasurements    (218)    (111)    (129)
6                                     Other, net     (59)    (251)    (195)
8                                          Total    1,416      876    (439)

Column names are fixed, sub tables are separated and first row is fixed

In [ ]:
df = pd.DataFrame([["Revenue", "20,453", "24,090", "22,090", "23,317", "89,950"]], columns=["Quarter Ended", "september 30", "December 31", "March 31", "June 30", "Total"])
tables[5].columns = ["Quarter Ended", "september 30", "December 31", "March 31", "June 30", "Total"]
tables[5] = pd.concat([df, tables[5]], ignore_index=True)
df = tables[5].iloc[8:]
tables[5] = tables[5].iloc[:5]
tables[5]
df = df.iloc[9:]
tables.extend(df)

      Quarter Ended september 30 December 31 March 31    June 30       Total
0           Revenue       20,453      24,090   22,090     23,317      89,950
1           Revenue       20,453      24,090   22,090     23,317      89,950
2      Gross margin       12,609      14,189   14,030     14,861      55,689
3  Operating income        5,225       6,177    5,594      5,330      22,326
4        Net income        4,690       5,200    4,801  6,513 (c)  21,204 (c)

Column names are fixed, combined columns are separated

In [ ]:
tables[6].columns = ["Declaration Date", "Dividend Per Share", "Record Date", "X"]
tables[6]["Total Amount"] = tables[6]["X"].str.split().str[1]
tables[6]["Payment Date"] = tables[6]["X"].str.split().str[2:]
tables[6]["Payment Date"] = tables[6]["Payment Date"].str.join(" ")
tables[6].drop(columns=["X"], inplace=True)
tables[6]

,Declaration Date,Dividend Per Share,Record Date,Total Amount,Payment Date
14,"September 16, 2014",$ 0.31,"November 20, 2014","2,547","December 11, 2014"
15,"December 3, 2014",$ 0.31,"February 19, 2015","2,532","March 12, 2015"
16,"March 10, 2015",$ 0.31,"May 21, 2015","2,496","June 11, 2015"
17,"June 9, 2015",$ 0.31,"August 20, 2015","2,475","September 10, 2015"

Column names are fixed, combined columns are separated

In [ ]:
tables[7].columns = ["Declaration Date", "Dividend Per Share", "Record Date", "X"]
tables[7].drop(0, inplace=True)
tables[7]["Total Amount"] = tables[7]["X"].str.split().str[1]
tables[7]["Payment Date"] = tables[7]["X"].str.split().str[2:]
tables[7]["Payment Date"] = tables[7]["Payment Date"].str.join(" ")
tables[7].drop(columns=["X"], inplace=True)
tables[7]

,Declaration Date,Dividend Per Share,Record Date,Total Amount,Payment Date
1,"September 15, 2015",$ 0.36,"November 19, 2015","2,868","December 10, 2015"
2,"December 2, 2015",$ 0.36,"February 18, 2016","2,842","March 10, 2016"
3,"March 15, 2016",$ 0.36,"May 19, 2016","2,821","June 9, 2016"

All processed tables are stored in csvs for use in the main file

In [ ]:
for j, i in enumerate(tables):
    try:
        i.to_csv(f"table_{j}.csv", index=False)
    except:
        pass

# Embedding strategy

Each row in each table is converted to the form of `Column1 Name : Value | Column2 Name : Value |` so that this textual form can be embedded easier.

In [ ]:
def table_to_text(row):
    return " | ".join([f"{col}: {str(row[col])}" for col in row.index])

All csvs are read and are converted to the embedding format

In [ ]:
import os
tables = []
table_text = []
l = os.listdir("data")
for i in l:
    df = pd.read_csv(f"data/{i}")
    if "Unnamed: 0" in df.columns:
        df.columns = df.columns.str.replace("Unnamed: 0", "Column1")
    tables.append(df)
    table_text.append(df.apply(table_to_text, axis=1))

Sample demo of the converted tables

In [ ]:
table_text

[0    Region: iPhone (1) | 2018: 166,699 | Change201...
 1    Region: iPad (1) | 2018: 18,805 | Change2018: ...
 2    Region: Mac (1) | 2018: 25,484 | Change2018: (...
 3    Region: Services (2) | 2018: 37,190 | Change20...
 4    Region: Other Products (1)(3) | 2018: 17,417 |...
 5    Region: Total net sales | 2018: 265,595 | Chan...
 dtype: object,
 0     Region: Americas | 2018: 112,093 | Change2018:...
 1     Region: Europe | 2018: 62,420 | Change2018: 14...
 2     Region: Greater China | 2018: 51,942 | Change2...
 3     Region: Japan | 2018: 21,733 | Change2018: 23 ...
 4     Region: Rest of Asia Pacific | 2018: 17,407 | ...
 5     Region: Total net sales | 2018: 265,595 | Chan...
 6     Region: ales by Product: | 2018: nan | Change2...
 7     Region: iPhone (1) | 2018: 166,699 | Change201...
 8     Region: iPad (1) | 2018: 18,805 | Change2018: ...
 9     Region: Mac (1) | 2018: 25,484 | Change2018: (...
 10    Region: Services (2) | 2018: 37,190 | Change20...
 11    Region: Other Products (1)(3) | 2018: 17,417 |...
 12    Region: Total net sales | 2018: 265,595 | Chan...
 13    Region: Sales by Product: | 2018: nan | Change...
 14    Region: iPhone | 2018: 217,722 | Change2018: —...
 15    Region: iPad | 2018: 43,535 | Change2018: — % ...
 16    Region: Mac | 2018: 18,209 | Change2018: (5)% ...
 dtype: object,
 0    Declaration Date: September 15, 2015 | Dividen...
 1    Declaration Date: December 2, 2015 | Dividend ...
 2    Declaration Date: March 15, 2016 | Dividend Pe...
 dtype: object,
 0    Quarter Ended: Revenue | september 30: 20,453 ...
 1    Quarter Ended: Revenue | september 30: 20,453 ...
 2    Quarter Ended: Gross margin | september 30: 12...
 3    Quarter Ended: Operating income | september 30...
 4    Quarter Ended: Net income | september 30: 4,69...
 dtype: object,
 0    Region: iPhone | 2018: 217,722 | Change2018: —...
 1    Region: iPad | 2018: 43,535 | Change2018: — % ...
 2    Region: Mac | 2018: 18,209 | Change2018: (5)% ...
 dtype: object,
 0    Region: Europe | 2018: 62,420 | Change2018: 14...
 1    Region: Greater China | 2018: 51,942 | Change2...
 2    Region: Japan | 2018: 21,733 | Change2018: 23 ...
 3    Region: Rest of Asia Pacific | 2018: 17,407 | ...
 4    Region: Total net sales | 2018: 265,595 | Chan...
 dtype: object,
 0    Declaration Date: September 16, 2014 | Dividen...
 1    Declaration Date: December 3, 2014 | Dividend ...
 2    Declaration Date: March 10, 2015 | Dividend Pe...
 3    Declaration Date: June 9, 2015 | Dividend Per ...
 dtype: object,
 0     Column1: Net sales | 2018: 265,595 | 2017: 229...
 1     Column1: Net income | 2018: 59,531 | 2017: 48,...
 2     Column1: Earnings per share: | 2018: nan | 201...
 3     Column1: Basic | 2018: 12.01 | 2017: 9.27 | 20...
 4     Column1: Diluted | 2018: 11.91 | 2017: 9.21 | ...
 5     Column1: Cash dividends declared per share | 2...
 6     Column1: Shares used in computing earnings per...
 7     Column1: Basic | 2018: 4,955,377 | 2017: 5,217...
 8     Column1: Diluted | 2018: 5,000,109 | 2017: 5,2...
 9     Column1: Total cash, cash equivalents and mark...
 10    Column1: Total assets | 2018: 365,725 | 2017: ...
 11    Column1: Non-current portion of term debt | 20...
 12    Column1: Other non-current liabilities | 2018:...
 dtype: object,
 0    Column1: Basic | 2018: 12.01 | 2017: 9.27 | 20...
 1    Column1: Diluted | 2018: 11.91 | 2017: 9.21 | ...
 2    Column1: Cash dividends declared per share | 2...
 dtype: object,
 0    Quarter: First quarter | Shares2016: 89.0 | Am...
 1    Quarter: Second quarter | Shares2016: 66.0 | A...
 2    Quarter: Third quarter | Shares2016: 69.0 | Am...
 3    Quarter: Fourth quarter | Shares2016: 70.0 | A...
 dtype: object,
 0    Column1: Dividends and interest income | 2018:...
 1    Column1: Interest expense | 2018: (2,733) | 20...
 2    Column1: Net recognized gains on investments |...
 3    Column1: Net losses on derivatives | 2018: (18...
 4    Column1: Net losses on foreign currency remeas...
 5    Column1: Other, net | 2018: (59) | 2017: (251)...
 6    Column1: Total | 2018: 1,416 | 2017: 876 | 201...
 dtype: object,
 0    Column1: Basic | 2018: 4,955,377 | 2017: 5,217...
 1    Column1: Diluted | 2018: 5,000,109 | 2017: 5,2...
 2    Column1: Total cash, cash equivalents and mark...
 3    Column1: Total assets | 2018: 365,725 | 2017: ...
 4    Column1: Non-current portion of term debt | 20...
 5    Column1: Other non-current liabilities | 2018:...
 dtype: object]

# Creating embedings
Creating vector embeddings using sentence transformers `MiniLM-L6`

In [ ]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("all-MiniLM-L6-v2")
embd = []
for i in table_text:
    embd.append(model.encode(i, convert_to_numpy=True))

In [149]:
for i in embd:
    print(i.shape)

(6, 384)
(17, 384)
(3, 384)
(5, 384)
(3, 384)
(5, 384)
(4, 384)
(13, 384)
(3, 384)
(4, 384)
(7, 384)
(6, 384)

In [151]:
!pip install faiss-cpu

Collecting faiss-cpu
  Downloading faiss_cpu-1.10.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: numpy<3.0,>=1.25.0 in /usr/local/lib/python3.11/dist-packages (from faiss-cpu) (2.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from faiss-cpu) (24.2)
Downloading faiss_cpu-1.10.0-cp311-cp311-manylinux_2_28_x86_64.whl (30.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.7/30.7 MB 58.4 MB/s eta 0:00:00
Installing collected packages: faiss-cpu
Successfully installed faiss-cpu-1.10.0

# Indexing the tables

A new FAISS FlatL2 index is created to store the table embeddings.

In [152]:
import faiss
import numpy as np


index = faiss.IndexFlatL2(384)
table_embeddings_np = np.vstack(embd)
index.add(table_embeddings_np)
faiss.write_index(index, "table_index.faiss")

# Sample Query

In [158]:
query = "IPad in 2017"
query_embedding = model.encode(query).reshape(1, -1).astype("float32")
k = 5  # Number of results to return
distances, indices = index.search(query_embedding, k)

print("Top matching row indices:", indices[:2])
print("Corresponding distances:", distances[:2])

Top matching row indices: [[ 1 14 21 32 13]]
Corresponding distances: [[1.0067446 1.0067446 1.0531037 1.0531042 1.3381988]]

# Reverse mapping 

A `row_table_mapping` is created to map indices to the specific of a specific table. The values can be found be indexing into the tables.

In [159]:
row_table_mapping = []
row_offset = 0

for table_idx, table in enumerate(embd):
    num_rows = table.shape[0]
    for i in range(num_rows):
        row_table_mapping.append((table_idx, i))
    row_offset += num_rows
for idx in indices[0]:
    table_idx, row_idx = row_table_mapping[idx]
    print(f"Match found in Table {table_idx}, Row {row_idx}")
    print(tables[table_idx].iloc[row_idx])
    print()

Match found in Table 0, Row 1
Region        iPad (1)
2018            18,805
Change2018        (2)%
2017            19,222
Change2017        (7)%
2016            20,628
Name: 1, dtype: object

Match found in Table 1, Row 8
Region        iPad (1)
2018            18,805
Change2018        (2)%
2017            19,222
Change2017        (7)%
2016            20,628
Name: 8, dtype: object

Match found in Table 1, Row 15
Region          iPad
2018          43,535
Change2018       — %
2017          43,753
Change2017      (4)%
2016          45,590
Name: 15, dtype: object

Match found in Table 4, Row 1
Region          iPad
2018          43,535
Change2018       — %
2017          43,753
Change2017      (4)%
2016          45,590
Name: 1, dtype: object

Match found in Table 1, Row 7
Region        iPhone (1)
2018             166,699
Change2018          18 %
2017             141,319
Change2017           3 %
2016             136,700
Name: 7, dtype: object